<header>
    <nav class="navbar">
        <div class="nav-menu ml-2">
            <div class="logo">
                <img src="./assets/svg/logo.svg" alt="Logo Spiderman" onload="SVGInject(this)" />
            </div>
            <ul class="nav-list nav-or-hamburguer">
                <li>
                    <a class="nav-link" href="/" title="Página Inicial">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="/about" title="Sobre">Sobre</a>
                </li>
                <li>
                    <a class="nav-link" href="/characters" title="Personagens">Personagens</a>
                </li>
                <li>
                    <a class="nav-link be-your-self" href="/costumes" title="Trajes">#Trajes</a>
                </li>
            </ul>
        </div>
        <div class="nav-social mr-2">
            <img src="./assets/svg/icon-facebook.svg" alt="Ícone Facebook" onload="SVGInject(this)" />
            <img src="./assets/svg/icon-instagram.svg" alt="Ícone Instagram" onload="SVGInject(this)" />
            <img src="./assets/svg/icon-youtube.svg" alt="Ícone Youtube" onload="SVGInject(this)" />
            <img src="./assets/svg/icon-twitter.svg" alt="Ícone Twitter" onload="SVGInject(this)" />
        </div>
        <div class="hamburguer nav-or-hamburguer">
            <input type="checkbox" id="bx">

            <label for="bx">
                <div class="bx mr-2"></div>
            </label>

            <div class="responsive retreat-top">
                <ul class="mx-1 nav-hamburguer">
                    <li>
                        <a class="nav-link-hamburguer" href="/" title="Página Inicial">Home</a>
                    </li>
                    <li>
                        <a class="nav-link-hamburguer" href="/about" title="Sobre">Sobre</a>
                    </li>
                    <li>
                        <a class="nav-link-hamburguer" href="/characters" title="Personagens">Personagens</a>
                    </li>
                    <li>
                        <a class="nav-link-hamburguer be-your-self" href="/costumes" title="Trajes">#Trajes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>