// Style About
.container-about {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 130px;
    padding-bottom: 36px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    width: 100%;

    img {
        max-width: 480px;
        padding-left: 36px;
    }

    .info {
        max-width: 470px;
        color: white;
        padding-left: 36px;
        padding-right: 48px;

        > div {
            font-size: 25px;
            margin-bottom: 10px;
            font-weight: 700;
            letter-spacing: 0.7px;
        }

        p {
            font-size: 18px;
            text-align: justify;
        }
    }
}

.main-features {
    color: white;
    margin-top: 50px;

    .main-title {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 700;
        letter-spacing: 0.7px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .items {
            text-align: center;

            img {
                margin-bottom: 15px;
            }

            .subtitle {
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0.7px;
            }

            p {
                margin-top: 10px;
                text-align: justify;
            }
        }        
    }
}

.logo-marvel {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 140px;
    }
}

@include responsive-about();